.my-info {
	padding: 20rem;
	display: flex;
	gap: 50rem;
	justify-content: center;
	// text-align: center;
	// justify-content: center;
	// align-items: center;
	gap: 20rem;
	@include tablet {
		flex-direction: column;
		gap: 50rem;
		margin-bottom: 30rem;
		justify-content: center;
		align-items: center;
	}
}
.my-desc{max-width: 500rem;}
.my-img {
	border-radius: 50rem;
	border: 2rem solid var(--gray);
}
.my-name {
	text-align: start;
}
.home__btn {margin-top: 40rem;
	@include tablet {
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}
