
:root,
:root.light {
  --black:black;
  --orange: orange;

}

:root.dark {
  --black: orange;
  --orange: black;

}

body {
  margin: 0;
  background: var(--black);
  color: var(--orange);
  font-family: 'Inter', sans-serif
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5px 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: normal;
}

.toggle-container {
  position: relative;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: transparent;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}
